.flexContainer {
  background: var(--color-transparent);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 30px;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .flexContainer {
    row-gap: 5px;
  }
}

@media only screen and (max-width: 800px) {
  .flexContainer {
    row-gap: 15px;
  }
}

@import "../../../styles/colors.module.css";
