{
  "arrowParens": "always",
  "bracketSpacing": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "htmlWhitespaceSensitivity": "strict",
  "useTabs": false,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": false,
  "printWidth": 120
}
