:root {
  --font-weight-thin: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-padding-bottom: 5px;
  --font-padding-top: 5px;
}

h1 {
  color: var(--color-font-headline);
  font-size: 2.8rem;
  font-weight: var(--font-weight-bold);
  margin: 0;
  padding-bottom: var(--font-padding-bottom);
  padding-top: var(--font-padding-top);
}

h2 {
  color: var(--color-font-headline);
  font-size: 1.7rem;
  font-weight: var(--font-weight-bold);
  margin: 0;
  padding-bottom: var(--font-padding-bottom);
  padding-top: var(--font-padding-top);
}

h3 {
  color: var(--color-font-headline);
  font-size: 1.1rem;
  font-weight: var(--font-weight-bold);
  margin: 0;
  padding-bottom: var(--font-padding-bottom);
  padding-top: var(--font-padding-top);
}

h4 {
  color: var(--color-font-headline);
  font-size: 0.8rem;
  font-weight: var(--font-weight-bold);
  padding-bottom: var(--font-padding-bottom);
  padding-top: var(--font-padding-top);
}

h5 {
  color: var(--color-font-headline);
  font-size: 1.1rem;
  font-weight: var(--font-weight-thin);
  padding-bottom: var(--font-padding-bottom);
  padding-top: var(--font-padding-top);
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("../assets/fonts/Inter.ttf") format("truetype");
}

p {
  color: var(--color-font-paragraph);
  filter: brightness(0.75);
  font-size: 0.7rem;
  font-weight: var(--font-weight-medium);
  padding-bottom: var(--font-padding-bottom);
  padding-top: var(--font-padding-top);
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  h5 {
    font-size: 1rem;
  }

  p {
    font-size: 0.6rem;
  }
}

@import "./colors.module.css";
