*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Inter", "Roboto", sans-serif;
  margin: 0;
  overflow: hidden hidden;
  padding: 0;
  text-rendering: optimizeLegibility;
}

@media only screen and (max-width: 800px) {
  body {
    overflow: scroll scroll;
  }
}

@import "./colors.module.css";
@import "./fonts.module.css";
@import "./scrollbars.module.css";
