*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Inter", "Roboto", sans-serif;
  margin: 0;
  overflow: hidden hidden;
  padding: 0;
  text-rendering: optimizeLegibility;
}

body {
  height: 101vh;
  width: 101vw;
}

@import "./colors.module.css";
@import "./fonts.module.css";
@import "./scrollbars.module.css";
