.detailView {
  align-items: center;
  background-color: var(--color-background);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  padding-bottom: 33px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 33px;
  width: 50vh;
}

.flag {
  object-fit: contain;
}

.miniResults {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .detailView {
    gap: 15px;
    width: 87.5vw;
  }

  .flag {
    width: 40vw;
  }

  .miniResults {
    gap: 5px;
  }
}

@import "../../styles/colors.module.css";
