.all {
  min-height: 40px;
}

.related {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .related {
    gap: 5px;
  }
}
