input::-webkit-input-placeholder {
  background: url("../../assets/images/search.svg");
  background-position: 0 5px;
  background-repeat: no-repeat;
  background-size: 17px 17px;
  caret-color: var(--color-font-paragraph);
  color: var(--color-font-paragraph);
  filter: brightness(80%);
  font-size: 0.7rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1.8rem;
  padding-left: 20px;
}

.textInput {
  background-color: var(--color-background-interactable);
  border-color: var(--color-background), var(--color-background);
  border-image: none;
  border-radius: 50px;
  border-style: none;
  border-width: 0;
  color: var(--color-font-paragraph);
  font-size: 0.7rem;
  font-style: italic;
  font-weight: 500;
  height: 40px;
  line-height: 1.8rem;
  padding-left: 20px;
  width: 100%;
}

@import "../../styles/colors.module.css";
