.search {
  align-items: center;
  background: var(--color-background);
  border-radius: 5px;
  box-shadow: var(--shadow);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  min-height: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 500px) {
  .search {
    flex: 1;
  }
}

@import "../../styles/colors.module.css";
@import "../../styles/shadows.module.css";
