.header {
  align-items: center;
  background: var(--color-background);
  box-shadow: var(--shadow);
  display: flex;
  grid-area: header;
  height: 75px;
  padding-left: 17.5vw;
  position: sticky;
  z-index: var(--altitude-abover);
}

@media only screen and (max-width: 500px) {
  .header {
    height: 50px;
  }
}

@import "../../../styles/altitudes.module.css";
@import "../../../styles/colors.module.css";
@import "../../../styles/shadows.module.css";
