.bottom {
  background-color: var(--color-background-gradient-bottom);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: calc(60vh);
  z-index: var(--altitude-above);
}

.top {
  background-image:
    linear-gradient(
      to bottom,
      var(--color-background-gradient-top),
      var(--color-background-gradient-bottom)
    );
  bottom: calc(40vh);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--altitude-above);
}

@import "../../../styles/altitudes.module.css";
@import "../../../styles/colors.module.css";
